<app-header></app-header>
<p-toast></p-toast>
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light ">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Gestión de proveedores</h1>
            </div>
            <div class="ml-auto p-2">
                <button pTooltip="Reiniciar todo" pButton type="button" icon="pi pi-replay"
                    class="p-button-rounded p-button-text red" (click)="cargarProveedor()">
                </button>
            </div>
        </div>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <!-- (click)="showDialog()" -->
                <button pButton pRipple type="button" style="margin: 10px" class="p-button-raised p-button-text"
                    label="Crear" icon="pi pi-plus" (click)="proveDialog=true"></button>
                <!--  (click)="showCatalogosEliminados()" 
                <button pButton pRipple type="button" style="margin: 10px" class="p-button-raised p-button-text p-button-danger" label="Papelera" icon="pi pi-trash" (click)="papeleraConvocatorias=true"></button>
-->
            </div>
            <div class="p-toolbar-group-right">
            </div>
        </p-toolbar>

        <div class="content-section implementation">
            <p-table #dt [value]="proveedor" [globalFilterFields]="['nombre_comercial_pro' , 'usuario.nombres']"
                styleClass="p-datatable-gridlines" [loading]="loading" responsiveLayout="scroll" [rows]="10">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar proveedor" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Nombre comercial</th>
                        <th>Encargado</th>
                        <th>Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-provee>
                    <tr>
                        <td>{{provee.id_proveedor}}</td>
                        <td>{{provee.nombre_comercial_pro}}</td>
                        <td>{{provee.usuario.nombres}}</td>
                        <td><button pButton pRipple type="button" icon="pi pi-trash" class="p-button-raised p-button-text" (click)="borrarProveedor(provee.id_proveedor)"></button>
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-raised p-button-text"  (click)="updateProveedor(provee.id_proveedor)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{totalRecords}} registros.
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">Ningun registro.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="Gestión de proveedores." [(visible)]="proveDialog" [modal]="true" [draggable]="false"
    [resizable]="false" class="p-fluid">
    <form [formGroup]="proveForm" (ngSubmit)="saveProveedor()">
        <div class="form-group mt-2">
            <span class="p-input-icon-left">
                <i class="pi pi-flag"></i>
                <input type="text" pInputText placeholder="Nombre comercial" formControlName="nombre_comercial_pro">
            </span>
        </div>
        <div class="form-group mt-2"><span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <p-dropdown [options]="usuarios" formControlName="usuario" placeholder="Seleccione un proveedor"
                    optionLabel="nombres" [style]="{ width: '40vw' }" [showClear]="true"></p-dropdown>

            </span>
        </div>

        <div style="text-align:right">
            <p-button type="submit" icon="pi pi-check" [disabled]="proveForm.invalid" label="Guardar"
                styleClass="p-button-text"></p-button>
        </div>
    </form>
</p-dialog>