<app-header></app-header>

<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Lector QR</h1>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <p-scrollPanel [style]="{width: '100%', height: '700px'}">
                <div class="mt-4">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Cedula</label>
                            </span>
                        </div>

                    </div>
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>Datos</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Nombres</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Fecha de nacimiento</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Fecha</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Nacionalidad</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Pais</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Lugar de recidencia</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Domicilio</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Numero telefono/celular</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText > 
                                <label for="inputtext">Lugar de recidencia</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->

                </div>


            </p-scrollPanel>
        </div>
    </div>

</div>