<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h2>Admision</h2>
            </div>
        </div>
        <div class="p-fluid grid">
            <div class="field col-12 md:col-2 centrar">
                <span class="p-float-label">
                    <input autocomplete="off" type="text" id="inputtext" pInputText [(ngModel)]="establecimiento"
                        (keypress)="validacionAlfanumerica($event)" maxlength="255">
                    <label for="inputtext">INSTITUCIÓN DEL SISTEMA</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 centrar">
                <span class="p-float-label">
                    <input autocomplete="off" type="text" id="inputtext" pInputText [(ngModel)]="adm.unidadOperativa"
                        (keypress)="validacionAlfanumerica($event)" maxlength="255">
                    <label for="inputtext">UNIDAD OPERATIVA</label>
                </span>
            </div>
            <div class="field col-12 md:col-2 centrar">
                <span class="p-float-label">
                    <input autocomplete="off" type="text" id="inputtext" pInputText [(ngModel)]="adm.codUd"
                        (keypress)="validacionAlfanumerica($event)" maxlength="255">
                    <label for="inputtext">COD. UD</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <label for="" class="centrarLabel">COD. LOCALIZACIÓN</label>
                <div class="flexDerecha">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input autocomplete="off" type="text" id="inputtext" pInputText [(ngModel)]="adm.parroquia"
                                (keypress)="validarSoloLetras($event)" maxlength="255">
                            <label for="inputtext">PARROQUIA</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input autocomplete="off" type="text" id="inputtext" pInputText [(ngModel)]="adm.canton"
                                (keypress)="validarSoloLetras($event)" maxlength="255">
                            <label for="inputtext">CANTÓN</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input autocomplete="off" type="text" id="inputtext" pInputText [(ngModel)]="adm.provincia"
                                (keypress)="validarSoloLetras($event)" maxlength="255">
                            <label for="inputtext">PROVINCIA</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="field col-12 md:col-2 centrar">
                <span class="p-float-label">
                    <input autocomplete="off" type="text" id="inputtext" pInputText
                        (keypress)="validacionSoloNumeros($event)" maxlength="10">
                    <label for="inputtext"># HISTORIA CLÍNICA</label>
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>1. Registro de Admision</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" [(ngModel)]="buscarcedula" pInputText>
                    <label for="inputtext">Cedula</label>
                </span>
            </div>
            <div class="field col-12 md:col-2">
                <button pButton type="button" label="Buscar" (click)="buscarPersona();"></button>
            </div>
        </div>
        <div class="grid p-fluid">

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" [(ngModel)]="buscarnombre" pInputText>
                    <label for="inputtext">Nombres Completos</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" [(ngModel)]="direccion" pInputText>
                    <label for="inputtext">Direccion</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" [(ngModel)]="cel" pInputText>
                    <label for="inputtext">Celular</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" [(ngModel)]="sexo" pInputText>
                    <label for="inputtext">Sexo</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.estadoC">
                    <label for="inputtext">Estado Civil</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Barrio</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Parroquia</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Canton</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Provincia</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Nacionalidad</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.instruccion">
                    <label for="inputtext">Instruccion ultimo año aprobado</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="date" id="inputtext" pInputText [(ngModel)]="adm.fechaA">
                    <label for="inputtext">Fecha Admision</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.ocupacion">
                    <label for="inputtext">Ocupacion</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.empresa">
                    <label for="inputtext">Empresa donde trabaja</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.tipoS">
                    <label for="inputtext">Tipo de seguro</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.referidoD">
                    <label for="inputtext">Referido de</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.emergencia">
                    <label for="inputtext">En caso de emergencia llamar a </label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.parantesco">
                    <label for="inputtext">Parentesco</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.direccP">
                    <label for="inputtext">Direcion</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.telefono">
                    <label for="inputtext">Telefono</label>
                </span>
            </div>
            <label for="p1">Forma de llegada</label>
            <br>
            <label for="p1"></label>
            <div class="col-12 md:col-2">
                <div class="field-radiobutton">
                    <p-radioButton name="p16" value="X" [(ngModel)]="adm.ambulancia" inputId="p1"></p-radioButton>
                    <label for="p1">Ambulancia</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-radiobutton">
                    <p-radioButton name="p16" value="X" [(ngModel)]="adm.ambulat" inputId="p1"></p-radioButton>
                    <label for="p1">Ambulatorio</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-radiobutton">
                    <p-radioButton name="p16" value="X" [(ngModel)]="adm.otro" inputId="p1"></p-radioButton>
                    <label for="p1">Otro transporte</label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.fuente">
                    <label for="inputtext">Fuente de informacion</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.persona">
                    <label for="inputtext">Institucion o persona que entrega al paciente</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText [(ngModel)]="adm.numero">
                    <label for="inputtext">Telefono</label>
                </span>
            </div>
        </div>
        <p-button label="Save" (click)="cargarPersona()" icon="pi pi-check" [style]="{'margin-left': '.6em'}">
        </p-button>
    </div>
</div>