<app-header></app-header>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Registro</h1>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>1. Registro de Admision</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Cedula</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Nombres Completos</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Direccion </label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Celular</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Sexo</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Email</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Provincia</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Caton</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Parroquia</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Barrio</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Ciudad</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Fecha nacimiento</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Nacionalidad</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Pais</label>
                </span>
            </div>
            

        </div>
        <!------------------------------------->
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>2.Inicio de atencion y motivo</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="time" pInputText>
                    <label for="inputtext">Hora</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Trauma</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Causa Clinica</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Causa G.Ostretica</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Grupo Sanguineo y Factor Rh</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Notificacion a la policia</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Otro motivo</label>
                </span>
            </div>
        </div>
        <!------------------------------------------------------------------------------>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>3.Accidente,violencia,intoxicacion,envenamiento o quemadura</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="datetime-local" pInputText>
                    <label for="">Fecha y Hora del evento</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label for="inputtext">Lugar del evento</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" pInputText>
                    <label for="inputtext">Custodia policial</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Accidente de transito </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Caida </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Quemadura</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Mordedura</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Ahogamiento</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Cuerpo extraño</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Aplastamiento</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Violencia por arma de fuego</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Violencia por arma cortopunznate</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Violencia por riña</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Violencia Familiar</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Abuso Fisico</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Abuso Psicologico</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Abuso Sexual</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Otro accdiente</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Otra Violencia</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Intoxicacion alcoholica</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Intoxicacion alimentaria</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Intoxicacion por drogas</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Inhalacion de gases</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Otra Intoxicacion</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Envenamiento</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Picadura</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Anafilaxia</label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="199" pInputTextarea></textarea>
                    <label for="float-input">Observacion</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Aliento Etilico</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Valor Alcocheck</label>
                </span>
            </div>
        </div>
        <!------------------------------------------------------------------------------>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>4.Antecedes personales y Familiares</b>
            </div>
            <br>
            <label for="ny">Describir abajo,registrando el numero respectivo </label>
        </p-divider>

        <div class="grid p-fluid">
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">1.Alergico </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">2.Clinico </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">3.Ginecologico</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">4.Traumotologo </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">5.Quirurgico</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">6.Farmacologico </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">7.Psiquiatrico </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">8.Otro </label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="199" pInputTextarea></textarea>
                    <label for="float-input">Descripcion</label>
                </span>
            </div>
        </div>
        <!------------------------------------------------------------------------------>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>5.Enfermedad actual y revision de sistemas</b>
            </div>
            <br>
            <label for="ny">Describir cronologia-localizacion - caracteristica-intensidad-frecuencia-factores
                agravantes</label>
        </p-divider>
        <div class="grid p-fluid">
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Via aerea libre </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Via aerea obstruida </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Condicion estable </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">Condicion inestable</label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <textarea id="float-input" rows="5" cols="199" pInputTextarea></textarea>
                    <label for="float-input">Descripcion</label>
                </span>
            </div>
        </div>
        <!------------------------------------------------------------------------------>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>6.Signos Vitales</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Presion arterial</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">F.Cardiaca (mln)</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Temp.Sucal (°c)</label>
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Temp. Axilarl (°c)</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Peso (kg)</label>
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Talla (m)</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-8 md:col-2">
                <p>GLASGOW</p>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Ocular (4)</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Verbal (6)</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Motora (6)</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Total (15)</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Reaccion pupila der</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Reaccion pupila izq</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">T.LLenado Capilar</label>
                </span>
            </div>
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Satura Oxigeno</label>
                </span>
            </div>
        </div>
        <!------------------------------------------------------------------------------>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>7.Examen Fisico y Diagnostico</b>
            </div>
            <br>
            <label for="ny">Marcar "SP" si se encuentra sin patologia,marcar "CP" si se encuentra con patologia,
                Registrar abajo el numero y los hallazgos patologios</label>
        </p-divider>
        <div class="grid p-fluid">
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">1.Via aerea obstruida </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">2.Cabeza </label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">3.Cuello</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">4.Torax</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">5.Abdomen</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">6.Colummna</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">7.Pelvis</label>
                </div>
            </div>
            <div class="field col-4 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" value="New York" inputId="ny"></p-checkbox>
                    <label for="ny">8.Extremidades</label>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="field col-12 md:col-4">
                    <span class="p-float-label">
                        <textarea id="float-input" rows="5" cols="199" pInputTextarea></textarea>
                        <label for="float-input">Descripcion</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>