<app-header></app-header>
<p-toast></p-toast>
<div class="mt-3 ml-3 mr-3">
  <h5>FACTURACIÓN EN VENTAS</h5>
  <div class="grid p-fluid">
    <!-- <div class="col-12 md:col-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Cod</span>
        <input type="text" pInputText placeholder="Cod" [disabled]="disabled" [(ngModel)]="usuarioObj.id">
      </div>
    </div> -->

    <div class="col-12 md:col-4">
      <button pButton pRipple type="button" label="Nuevo cliente" routerlink="/registro"></button>
    </div>
  </div>

  <!--Fecha-->
  <div class="grid p-fluid">
    <div class="col-12 md:col-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Fecha</span>
        <input type="text" pInputText placeholder="Fecha" [disabled]="disabled" [(ngModel)]="putFechVist">
      </div>
    </div>

    <div class="col-12 md:col-2">
      <span class="p-float-label">
        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="TipoForPag" optionLabel="name">
        </p-dropdown>
        <label for="dropdown">Forma pago</label>
      </span>
    </div>

    <div class="col-12 md:col-2">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Aut</span>
        <input type="text" pInputText placeholder="Aut" [disabled]="disabled">
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Manual</span>
        <input type="text" pInputText placeholder="Manual">
      </div>
    </div>

  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <button type="button" pButton pRipple label="Buscar" (click)="buscarPersonaIdentificacion();"></button>
        <input type="text" id="ingCedula" pInputText placeholder="Cédula/Ruc" (keypress)="onKeypressEvent($event)"
          [(ngModel)]="identificacionPer">
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Cliente</span>
        <input type="text" #nombreCliente pInputText placeholder="CONSUMIDOR FINAL" [disabled]="disabled"
          [(ngModel)]="usuarioObj.nombres">
      </div>
    </div>

    <div *ngIf="showMostrar" class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Dirección</span>
        <input type="text" pInputText placeholder="Dirección" [disabled]="disabled" [(ngModel)]="usuarioObj.direccion">
      </div>
    </div>

    <div *ngIf="showMostrar" class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Telf</span>
        <input type="text" pInputText placeholder="Telf" [disabled]="disabled" [(ngModel)]="usuarioObj.celular">
      </div>
    </div>

    <div *ngIf="showMostrar" class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">E-mail</span>
        <input type="text" pInputText placeholder="E-mail" [disabled]="disabled" [(ngModel)]="usuarioObj.email">
      </div>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <button type="button" pButton pRipple label="Cod Barras"></button>
        <input type="text" pInputText placeholder="Cod Barras">
      </div>
    </div>

    <div *ngIf="showMostrar" class="col-12 md:col-6">
      <div class="p-inputgroup">
        <button type="button" pButton pRipple label="Observación" (click)="updateObserClient();"></button>
        <textarea class="textarea" rows="2" cols="50" style="resize: both;"
          [(ngModel)]="clienteObj.observaciones"></textarea>
        <!-- <input type="text" pInputText placeholder="Observación" style="resize: both;" [(ngModel)]="clienteObj.observaciones"> -->
      </div>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12">
      <div class="card">
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
        </p-confirmDialog>
        <button (click)="openNew(); listarProductos2();" type="button" pButton pRipple
          label="Agregar productos al cliente"></button>
        <!---TABLA DE FACTURACIÓN EN VENTAS-->
        <div *ngIf="productDatTabArray == null; else elseBlock">
          <ng-template pTemplate="emptymessage">
            <section>
              <p-messages severity="info">No se encontraron registros</p-messages>
            </section>
          </ng-template>
        </div>
        <ng-template #elseBlock>
          <p-table #dt1 [value]="productDatTabArray" dataKey="id" [resizableColumns]="true"
            [(selection)]="SelectProductoDto" [rowHover]="true" styleClass="p-datatable-gridlines"
            responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 2rem" class="text-center">
                  <div class="flex justify-content-center align-items-center">IVA</div>
                </th>
                <th pResizableColumn style="width:100px">
                  <div class="flex justify-content-center align-items-center"> CANT.</div>
                </th>
                <th pResizableColumn style="width:300px">
                  <div class="flex justify-content-center align-items-center"> PRODUCTO</div>
                </th>
                <th pResizableColumn style="width:300px">
                  <div class="flex justify-content-center align-items-center"> DESCRIPCIÓN</div>
                </th>
                <th pResizableColumn style="width:50px">
                  <div class="flex justify-content-center align-items-center"> U</div>
                </th>
                <th pResizableColumn style="width:80px">
                  <div class="flex justify-content-center align-items-center"> P.V.P</div>
                </th>
                <th pResizableColumn style="width:75px">
                  <div class="flex justify-content-center align-items-center"> %</div>
                </th>
                <th pResizableColumn style="width:85px">
                  <div class="flex justify-content-center align-items-center"> DTO. $$</div>
                </th>
                <th pResizableColumn style="width:100px">
                  <div class="flex justify-content-center align-items-center"> TOTAL</div>
                </th>
                <th pResizableColumn style="width:80px">
                  <div class="flex justify-content-center align-items-center"> QUITAR</div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-productosFac>
              <!-- <tr [pSelectableRow]="productosFac"> -->
              <tr>
                <td>
                  <div class="flex justify-content-center align-items-center">
                    <input type="checkbox" (change)="CheckedAlgunos($event.target.checked)"
                      [(ngModel)]="productosFac.check">
                  </div>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber pInputText type="text" placeholder="0"
                        (keydown.enter)="CalcularTotalTabFactu($event)" [(ngModel)]="productosFac.cantidad">
                      </p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{productosFac.cantidad}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>{{productosFac.nombreProducto}}</td>
                <td>{{productosFac.descripcionProducto}}</td>
                <td>{{productosFac.inventarioProducto}}</td>
                <td><b>{{productosFac.precioProducto}}</b></td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber pInputText type="text" placeholder="0.0"
                        (keydown.enter)="CalcularTotalTabFactu($event)" [(ngModel)]="productosFac.porcentaje">
                      </p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{productosFac.porcentaje}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-inputNumber pInputText type="text" [useGrouping]="false" mode="decimal" locale="en-US"
                        [minFractionDigits]="2" placeholder="0.0" (keydown.enter)="CalcularTotalTabFactu($event)"
                        [(ngModel)]="productosFac.descuento">
                      </p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{productosFac.descuento}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <div class="colVerde">
                    {{productosFac.total}}
                  </div>
                </td>
                <td style="text-align:center">
                  <button pButton pRipple type="button" icon="pi pi-times" (click)="confirmacion(productosFac)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Son</span>
        <input type="text" pInputText placeholder="0.0" [disabled]="disabled" style="color:green;"
          [(ngModel)]="valorPagar">
        <span class="p-inputgroup-addon">$$</span>
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Para</span>
        <input type="text" pInputText placeholder="Productos" [disabled]="disabled" [(ngModel)]="totalProductos">
        <span class="p-inputgroup-addon">Productos</span>
      </div>
      <button class="mt-1" pButton pRipple type="button" label="Grabar" (click)="guardarFactura();"></button>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">TOTAL PRODS</span>
        <input type="text" pInputText [disabled]="disabled" placeholder="TOTAL PRODS" [(ngModel)]="totalProductos">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">TOTAL</span>
        <input type="text" pInputText [disabled]="disabled" placeholder="TOTAL" style="color:green;"
          [(ngModel)]="valorPagar">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">RECIBO</span>
        <p-inputNumber type="text" pInputText placeholder="RECIBO" (keydown.enter)="darCambio($event)"
          [useGrouping]="false" mode="decimal" locale="en-US" [minFractionDigits]="2" [(ngModel)]="recibeDinero">
        </p-inputNumber>
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">VUELTO</span>
        <p-inputNumber type="text" pInputText [disabled]="disabled" placeholder="VUELTO" mode="decimal" locale="en-US"
          [(ngModel)]="darVuelto"></p-inputNumber>
      </div>
    </div>

    <!-- <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">SubTotal sin Desc</span>
        <input type="text" pInputText placeholder="0" [disabled]="disabled">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Desc. Total</span>
        <input type="text" pInputText placeholder="0">
        <span class="p-inputgroup-addon">%</span>
        <input type="text" pInputText placeholder="0">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Base Imp con IVA</span>
        <input type="text" pInputText placeholder="0" [disabled]="disabled">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">I.V.A|12%</span>
        <input type="text" pInputText placeholder="0">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Subt 0%</span>
        <input type="text" pInputText placeholder="0" [disabled]="disabled">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Total</span>
        <input type="text" pInputText placeholder="0" [disabled]="disabled">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Recibido</span>
        <input type="text" pInputText placeholder="0">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Cambio</span>
        <input type="text" pInputText placeholder="0" [disabled]="disabled">
      </div>
    </div> -->

    <div class="col-12 md:col-4">
      <button pButton pRipple type="button" label="Asigna a Pend. FACT"></button>
      <button class="mt-1" pButton pRipple type="button" label="Carga Pend. FACT"></button>
      <button class="mt-1" pButton pRipple type="button" label="CARGA RECETAS"></button>
    </div>
  </div>
</div>


<!--PDIALOG DE PRODUCTOS-->
<p-dialog [(visible)]="productDialog" [style]="{width: '1300px'}" header="PRODUCTOS" [modal]="true"
  styleClass="p-fluid">
  <p-toast></p-toast>
  <ng-template pTemplate="content">
    <!--INICIO-->
    <div class="mt-4 ml-3 mr-3">
      <div class="grid p-fluid">

        <div class="col-12 md:col-2">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [disabled]="disabled" [(ngModel)]="producto.idProducto">
            <label for="inputtext">Cod</label>
          </span>
        </div>

        <div class="col-12 md:col-2">
          <span class="p-float-label">
            <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" [options]="TipoProdFP" optionLabel="name">
            </p-dropdown>
            <label for="dropdown">Tipo</label>
          </span>
        </div>

        <div class="col-12 md:col-2">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [disabled]="disabled" [(ngModel)]="producto.codigoRef">
            <label for="inputtext">Cod Referencia</label>
          </span>
        </div>

        <div class="col-12 md:col-3">
          <span class="p-float-label">
            <div class="p-inputgroup">
              <p-button label="Categ."></p-button>
              <input type="text" id="inputtext" pInputText [disabled]="disabled"
                [(ngModel)]="producto.categoriaProducto">
            </div>
          </span>
        </div>

        <div class="col-12 md:col-6 mt-1">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [disabled]="disabled" [(ngModel)]="producto.nombreProducto">
            <label for="inputtext">Nombre</label>
          </span>
        </div>


        <div class="col-12 md:col-2 mt-1">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [disabled]="disabled"
              [(ngModel)]="producto.inventarioProducto">
            <label for="inputtext">Inventario</label>
          </span>
        </div>

        <div class="col-12 md:col-2 mt-1">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [disabled]="disabled" [(ngModel)]="producto.stock">
            <!--Cambiar a unidad-->
            <label for="inputtext">Unidad</label>
          </span>
        </div>

        <div class="col-12 md:col-2 mt-1">
          <span class="p-float-label">
            <input type="text" id="inputtext" pInputText [disabled]="disabled" [(ngModel)]="producto.fechaExp">
            <label for="inputtext">CAD/VEN</label>
          </span>
        </div>

        <div class="col-12 md:col-2">
          <!--<p-button type="button" class="mr-2" (click)="visibleSidebar2 = true" icon="pi pi-search"></p-button>-->
          <!-- <p-button [label]="selectedProduct ? selectedProduct.nombreProducto : 'Buscar'" icon="pi pi-search"
            (click)="visibleSidebar2 = true"></p-button> -->
          <p-button label="Buscar" icon="pi pi-search" (click)="visibleSidebar2 = true" [disabled]="disabled">
          </p-button>
        </div>
        <p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000" [style]="{width:'40em'}"
          [modal]="false">
          <p-toast></p-toast>

          <!--Inicio Tabla de buscar productos-->
          <p-table #dt2 [value]="productos" selectionMode="single" [(selection)]="selectedProduct"
            (onRowSelect)="onRowSelect($event)" responsiveLayout="scroll" [resizableColumns]="true"
            styleClass="p-datatable-gridlines" [globalFilterFields]="['descripcionProducto',
            'categoriaProducto', 'codigoRef']"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

            <ng-template pTemplate="caption">
              <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                  (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword" />
                </span>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn>
                  <div class="flex justify-content-center align-items-center">
                    Descripción
                    <p-columnFilter type="text" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pResizableColumn>Cod.</th>
                <th pResizableColumn>Unidad</th>
                <th pResizableColumn>Cant.</th>
                <th pResizableColumn>Precio</th>
                <th pResizableColumn>
                  <div class="flex justify-content-center align-items-center">
                    Categoria
                    <p-columnFilter type="text" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pResizableColumn>
                  <div class="flex justify-content-center align-items-center">
                    Cod Refer.
                    <p-columnFilter type="text" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pResizableColumn>Ubicación</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr [pSelectableRow]="product">
                <td>{{product.descripcionProducto}}</td>
                <td>{{product.idProducto}}</td>
                <td>{{product.idProducto}}</td>
                <td>
                  <div
                    [ngClass]="{'outofstock': product.stock === 0, 'lowstock': (product.stock > 0 && product.stockProducto < 10),'instock': product.stock > 10}">
                    {{product.stock}}
                  </div>
                </td>
                <td>{{product.precioProducto}}</td>
                <td>{{product.categoriaProducto}}</td>
                <td>{{product.codigoRef}}</td>
                <td>{{product.precioProducto}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-sidebar>
      </div>

      <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <span class="p-inputgroup-addon">Con IVA</span>
          <div class="p-inputgroup">
            <p-inputNumber placeholder="0.00" mode="decimal" [disabled]="disabled" locale="en-US"
              [minFractionDigits]="2" [(ngModel)]="precioIva"></p-inputNumber>
          </div>
          <!-- <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="value4" placeholder="0.00" mode="decimal" locale="en-US"
              [minFractionDigits]="2"></p-inputNumber>
          </div> -->
        </div>

        <div class="col-12 md:col-2">
          <span class="p-inputgroup-addon">Sin IVA</span>
          <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="producto.precioProducto" [disabled]="disabled" placeholder="0.00" mode="decimal"
              locale="en-US" [minFractionDigits]="2"></p-inputNumber>
          </div>
          <!-- <div class="p-inputgroup">
            <p-inputNumber [(ngModel)]="value6" placeholder="0.00" mode="decimal" locale="en-US"
              [minFractionDigits]="2"></p-inputNumber>
          </div> -->
        </div>

        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Último costo</span>
            <input type="text" pInputText placeholder="Último costo" [disabled]="disabled"
              [(ngModel)]="producto.ultimoCosto">
          </div>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Costo promedio</span>
            <input type="text" pInputText placeholder="Costo promedio" [disabled]="disabled"
              [(ngModel)]="producto.costoPromedio">
          </div>
        </div>

        <div class="col-12 md:col-4">
          <span class="p-inputgroup-addon">Código de Barras</span>
          <div class="p-inputgroup">
            <button type="button" pButton pRipple label="Ing cod Barra"></button>
            <input type="text" pInputText placeholder="Ingresar Cod Barras">
          </div>
          <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Vote">
            <button type="button" pButton pRipple icon="pi pi-times" Class="p-button-danger"></button>
          </div>
        </div>

        <div class="col-12 md:col-1">
          <div class="field-checkbox">
            <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
            <label for="binary">{{ivaSinIva()}}</label>
          </div>
        </div>
        <div class="col-12 md:col-3">
          <div class="grid">
            <div class="col-12">
              <div class="p-inputgroup">
                <input type="text" pInputText placeholder="Total" [(ngModel)]="valorFinalIva" [disabled]="disabled">
                <span class="p-inputgroup-addon">$ TOTAL</span>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="grid p-fluid">
          <div class="col-12 md:col-1">
            <div class="field-checkbox">
              <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
              <label for="binary">Activo</label>
            </div>
          </div>
        </div> -->

        <!--SECCIÓN TABLA PRODUCTOS PDIALOG-->
        <div class="col-12">
          <p-table #dt1 [value]="productos" [resizableColumns]="true" styleClass="p-datatable-gridlines"
            responsiveLayout="scroll" selectionMode="single" [(selection)]="selectedProductTP" dataKey="idProducto"
            (onRowSelect)="onRowSelectFProduct($event)"
            [globalFilterFields]="['nombreProducto','descripcionProducto', 'categoriaProducto', 'codigoRef']"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="caption">
              <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                  (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    placeholder="Buscar" />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn style="width:300px">
                  <div class="flex justify-content-center align-items-center">
                    PRODUCTO
                    <p-columnFilter type="text" field="nombreProducto" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pResizableColumn style="width:300px">
                  <div class="flex justify-content-center align-items-center">
                    Descripción
                    <p-columnFilter type="text" field="descripcionProducto" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pResizableColumn style="width:50px">
                  <div class="flex justify-content-center align-items-center">Cod.</div>
                </th>
                <th pResizableColumn style="display:none;">Unidad</th>
                <th pResizableColumn style="width:60px">
                  <div class="flex justify-content-center align-items-center">Cant.</div>
                </th>
                <th pResizableColumn style="width:70px">Precio</th>
                <th pResizableColumn style="width:100px">
                  <div class="flex justify-content-center align-items-center">
                    Categoria
                    <p-columnFilter type="text" field="categoriaProducto" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th pResizableColumn style="width:100px">
                  <div class="flex justify-content-center align-items-center">
                    Cod Refer.
                    <p-columnFilter type="text" field="codigoRef" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th style="width:100px" pResizableColumn>Ubicación</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr [pSelectableRow]="product">
                <td>{{product.nombreProducto}}</td>
                <td>{{product.descripcionProducto}}</td>
                <td>{{product.idProducto}}</td>
                <td style="display:none;">{{product.idProducto}}</td>
                <td>
                  <div
                    [ngClass]="{'outofstock': product.stock == 0, 'lowstock': (product.stock > 0 && product.stock < 10),'instock': product.stock > 10}">
                    {{product.stock}}
                  </div>
                </td>

                <td><b>{{product.precioProducto}}</b></td>
                <td>{{product.categoriaProducto}}</td>
                <td>{{product.codigoRef}}</td>
                <td>{{product.precioProducto}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>


      <div class="grid p-fluid">
        <!-- <div class="col-12  md:col-6">
          <p-fieldset legend="Cambio de precios" [toggleable]="true">
            <div class="grid p-fluid">

              <div class="col-12 md:col-4">
                <div class="field-radiobutton">
                  <p-radioButton name="opPD" value="PORCENTAJE" [(ngModel)]="opPD" inputId="city1"
                    (click)="porcentajeDol(0)"></p-radioButton>
                  <label>PORCENTAJE</label>
                </div>
                <div class="field-radiobutton">
                  <p-radioButton name="opPD" value="DOLAR" [(ngModel)]="opPD" id="city22" (click)="porcentajeDol(1)">
                  </p-radioButton>
                  <label>DOLAR</label>
                </div>
              </div>

              <div class="col-12 md:col-4">
                <div class="field-radiobutton">
                  <p-radioButton name="opSB" value="SUBIR" [(ngModel)]="opSB" (click)="valorSubBajar(1)"
                    inputId="city1"></p-radioButton>
                  <label>SUBIR</label>
                </div>
                <div class="field-radiobutton">
                  <p-radioButton name="opSB" value="BAJAR" [(ngModel)]="opSB" (click)="valorSubBajar(0)"
                    inputId="city2">
                  </p-radioButton>
                  <label>BAJAR</label>
                </div>
              </div>

              <div class="col-12 md:col-4">
                <div class="field-radiobutton">
                  <p-radioButton name="opPCU" id="rbPre" type="radio" value="PRECIO" [(ngModel)]="opPCF" inputId="city1"
                    (click)="preCosUlt(0)"></p-radioButton>
                  <label>PRECIO</label>
                </div>
                <div class="field-radiobutton">
                  <p-radioButton name="opPCU" value="COSTO ULTM" [(ngModel)]="opPCF" inputId="city2"
                    (click)="preCosUlt(1)"></p-radioButton>
                  <label>COSTO ULTM.</label>
                </div>
              </div>

              <div class="col-12 md:col-4">
                <p-inputNumber class="mt-1" [(ngModel)]="cbiarPrecio" placeholder="0.00" mode="decimal" locale="en-US"
                  [minFractionDigits]="2"></p-inputNumber>
              </div>

              <div class="col-12 md:col-4">
                <span class="p-float-label">
                  <input type="text" id="inputtext" pInputText [disabled]="disabled" [(ngModel)]="valSubBaj"
                    mode="decimal" locale="en-US">
                  <label for="inputtext">valor a cambiar</label>
                </span>
              </div>

              <div class="col-12 md:col-4">
                <button pButton pRipple type="button" label="Cambiar PVP"></button>
              </div>
            </div>
          </p-fieldset>
        </div> -->

        <div class="col-12  md:col-6">
          <p-fieldset legend="Stickers" [toggleable]="true">
            <div class="grid p-fluid">
              <div class="col-12 md:col-4">
                <button pButton pRipple type="button" label="Grande"></button>
                <button class="mt-1" pButton pRipple type="button" label="Mediano"></button>
              </div>

              <div class="col-12 md:col-4">
                <button pButton pRipple type="button" label="Pequeño"></button>
                <button class="mt-1" pButton pRipple type="button" label="Largo"></button>
              </div>

              <div class="col-12 md:col-4">
                <button pButton pRipple type="button" label="Sin precio"></button>
                <button class="mt-1" pButton pRipple type="button" label="Sin cod Barr"></button>
              </div>

            </div>

          </p-fieldset>
        </div>
      </div>

      <!-- <div class="grid p-fluid">
        <div class="col-12 md:col-2">
          <button pButton pRipple type="button" label="Nuevo"></button>
          <button class="mt-1" pButton pRipple type="button" label="Eliminar"></button>
        </div>
        <div class="col-12 md:col-2">
          <button pButton pRipple type="button" label="Modificar"></button>
          <button class="mt-1" pButton pRipple type="button" label="Limpiar Campos"></button>
        </div>
      </div> -->
    </div>
    <!--FIN-->
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="ESCOJER ESTE PRODUCTO" icon="pi pi-check" class="p-button-text"
      (click)="cargarProductosFacturacion()"></button>
  </ng-template>
</p-dialog>
