<app-header></app-header>
<div class="container mt-4" *ngIf="producto">
    <p-card header="Productos" subheader="Detalle del producto." [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="boody">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>{{producto.idP}}</li>
                <li class="list-group-item"><b>Nombre: </b>{{producto.nombre}}</li>
                <li class="list-group-item"><b>Precio: </b>{{producto.precio}}</li>
            </ul>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Regresar" icon="pi pi-angle-left" type="submit" (click)="volver()"></p-button>
        </ng-template>
    </p-card>
</div>