<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Evolución y Prescripciones</h1>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <div class="mt-4">
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" [(ngModel)]="establecimiento" value={{establecimiento}} pInputText>
                            <label for="inputtext">Establecimiento</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" [(ngModel)]="buscarcedula" pInputText>
                            <label for="inputtext">Cedula</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" [(ngModel)]="buscarnombre" pInputText>
                            <label for="inputtext">Nombres</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" [(ngModel)]="sexo" pInputText>
                            <label for="inputtext">Sexo</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">N° Hoja</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">N° Historia Clinica</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <button pButton type="button" label="Buscar" (click)="buscarPersona();"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <p-card header="1.Evolución" [style]="{width: '360px'}" styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <div class="grid p-fluid">
                            <div class="form-group mt-2">
                                <span class="p-input-icon-left">
                                    <label for="requisitos ">Fecha</label>
                                    <input type="date" pInputText placeholder="Fecha" [(ngModel)]="Evolu.fecha">
                                </span>
                            </div>
                            <div class="form-group mt-2">
                                <span class="p-input-icon-left">
                                    <label for="requisitos ">Hora</label>
                                    <input type="time" pInputText placeholder="Hora" [(ngModel)]="Evolu.hora">
                                </span>
                            </div>
                            <div class="form-group mt-2">
                                <label for="float-input">Evolución</label>
                                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="Evolu.evolucion"></textarea>

                            </div>
                        </div>
                    </p-card>
                </div>
                <div class="col-4">
                    <p-card header="2.Prescripciones" [style]="{width: '360px'}" styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <div class="grid p-fluid">
                            <div class="form-group mt-2">
                                <label for="requisitos ">Farmacoterapia e indicaciones (PARA ENFERMERIA Y OTRO
                                    PERSONAL)</label>
                                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="Evolu.indicaciones"></textarea>
                            </div>
                            <div class="form-group mt-2" >
                                <label for="requisitos " >Administrar,Farmacos,Insumos</label>
                                <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="Evolu.medicamentoAD" ></textarea>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
        <p-button label="Save" (click)="cargarPersona()" icon="pi pi-check" [style]="{'margin-left': '.6em'}">
        </p-button>
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.6em'}">
        </p-button>
        <p-button label="IMPRIMIR" (click)=" imprimirPDFSinceButton(buscarcedula)" icon="pi pi-check" [style]="{'margin-left': '.6em'}">
        </p-button>
    </div>
</div>