<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Datos para la tarjeta</h1>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <p-scrollPanel [style]="{width: '100%', height: '700px'}">
                <div class="mt-4">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" [(ngModel)]="value" [(ngModel)]="buscarPerIdent" name="value" pInputText>
                                <label for="inputtext">Cedula</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <button pButton type="button" label="Buscar"
                                (click)="buscarPersonaPorIdentificacion()"></button>
                        </div>
                        <div class="field col-12 md:col-4" align='center'>
                            <ngx-qrcode rcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel"
                                [value]="value">
                            </ngx-qrcode>
                        </div>
                    </div>
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>Datos</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.nombres">
                                <label for="inputtext">Nombres</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText>
                                <label for="inputtext">Fecha de nacimiento</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.parroquia">
                                <label for="inputtext">Parroquia</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.nacionalidad">
                                <label for="inputtext">Nacionalidad</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.pais">
                                <label for="inputtext">Pais</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.provincia">
                                <label for="inputtext">Provincia</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.direccion">
                                <label for="inputtext">Dirección Domicilio</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.celular">
                                <label for="inputtext">Numero telefono/celular</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="ObjDatorTarj.canton">
                                <label for="inputtext">Cantón</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->

                </div>

                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <b>Agregar familiar</b>
                    </div>
                </p-divider>
                <div class="field col-12 md:col-4">
                    <button pButton type="button" label="Agregar familiar" (click)="display=true"></button>
                </div>
                <p-table #dt [value]="familiares" [paginator]="true" responsiveLayout="scroll" [loading]="loading"
                    [rows]="10" styleClass="p-datatable-gridlines"
                    [globalFilterFields]="['codBarra', 'nombreProducto', 'nombre_comercial_pro']">
                    <ng-template pTemplate="caption">
                        <div class="table-header">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Buscar insumos" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id </th>
                            <th>Nombres del familiar</th>
                            <th>Fecha de nacimiento</th>
                            <th>Parentesco</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-familiar>
                        <tr>
                            <td>{{familiar.idFamiliares}}</td>
                            <td>{{familiar.usuario.nombres}}</td>
                            <td>{{familiar.usuario.telefono}}</td>
                            <td>{{familiar.tipoFamiliar}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            En total hay {{totalRecords}} registros.
                        </div>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">Ningun registro.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-scrollPanel>
        </div>
    </div>

</div>

<p-dialog header="Datos del familiar" [(visible)]="display">
    <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
        
        <div class="mt-4">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-4">
            
                <span class="p-float-label">
                    <input type="text" id="inputtext" [(ngModel)]="buscar" name="value" pInputText>
                    <label for="inputtext">Cedula</label>
                </span>
            
            </div>
            <div class="field col-12 md:col-4">
                <button pButton type="button" label="Buscar" (click)="buscarPersonaPorIdentificacion()"></button>
            </div>
        </div>
        </div>
        <div class="grid p-fluid">
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="identificacion" pInputText [(ngModel)]="identificacion"
                        name="identificacion">
                    <label for="inputtext-left">Identificacion</label>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="nombres" pInputText [(ngModel)]="nombres" name="nombres">
                    <label for="inputtext-left">Nombres</label>
                </span>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="direccion" pInputText [(ngModel)]="direccion" name="direccion">
                    <label for="inputtext-left">Direccion</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="celular" pInputText [(ngModel)]="celular" name="celular">
                    <label for="inputtext-left">Celular</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="sexo" pInputText [(ngModel)]="sexo" name="sexo">
                    <label for="inputtext-left">Sexo</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="email" pInputText [(ngModel)]="email" name="email">
                    <label for="inputtext-left">Email</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid">

            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="ciudad" pInputText [(ngModel)]="ciudad" name="ciudad">
                    <label for="inputtext-left">Ciudad</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="ciudad" pInputText [(ngModel)]="parentesco" name="ciudad">
                    <label for="inputtext-left">Parentesco</label>
                </span>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <input type="text" id="nombreUsuario" pInputText [(ngModel)]="nombreUsuario" name="nombreUsuario">
                    <label for="inputtext-left">Nombre usuario</label>
                </span>
            </div>
            
            <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-user-plus"></i>
                    <p-password [(ngModel)]="password" name="password" required>
                        <ng-template pTemplate="header">
                            <h6>Ingrese una contraseña</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="p-mt-2">Sugerencias.</p>
                            <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                                <li>Al menos una letra en minuscula.</li>
                                <li>Al menos una letra en mayuscula.</li>
                                <li>Al menos un numero.</li>
                                <li>Minimo 8 caracteres.</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <label for="inputtext-left">Contrasena</label>
                </span>
            </div>
        </div>

        <div class="form-group  mt-4" align='center'>
            <p-button class="p-button-rounded" [disabled]="!f.valid" type="submit">
                <i class="fas fa-sign-in-alt"></i> Agregar familiar
            </p-button>
        </div>
    </form>
</p-dialog>