<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h2>CONSENTIMIENTO PARA PROCEDIMIENTO MÉDICOS</h2>
            </div>
               
        </div>
            <div class="content-section implementation mt-2">
                <p-card [style]="{'width': '900px', 'margin-bottom': '2em'}">
                    <ng-template pTemplate="header">
                    </ng-template>
                 
                     Yo (paciente)  <input type="text" id="inputtext"  pInputText>  portador de la cédula de identidad No. <input type="text" id="inputtext"  pInputText> con el fin de diagnosticar 
                     y/o tratar los sintomas o signos en relación con mi enfermedad doy mi <b>CONSENTIMIENTO</b> que se me efectúe el (los) siguiente (s) procemiento(s) <input type="text" id="inputtext"  pInputText>
                     diagnóstico(s),terapéutico(s) y/o quirúrgico(s) que sera realizado por o bajo la dirección del 
                     Dr. <input type="text" id="inputtext"  pInputText> y/o personal designado por el médico y/o cirujano.
                     <br>
                     <br>
                     He sido informado de los riesgos o complicaciones ( tales como: perforaciones, sangrado,dolor,aspiraciones shock),secuelas y eventualmente la muerte
                     asociados al mencionado procedimiento diagnóstico,terapéutico y/o quirúrgico.Se me ha explicado que durante el curso del mismo pudieran presentarse condiciones imprevistas
                     necesitándose extensión del procedimiento especificado anteriormente o terminar  en cirugía con remoción de órganos y tejidos.Asi mismo reconozco que se me ha informado que por convenio 
                     ejecutado entre el equipo médico y ENTIDAD:HOSPITAL DEL DIA-CENTRO DE VARICES AG solo existe la presentacion de instalaciones para dicho(s) procemiento(s).
                    <br>
                    <br>
                    <h3>DECLARACIÓN DEL MÉDICO</h3>
                    <br>
                    Yo (Dr.)<input type="text" id="inputtext"  pInputText> médico especialista <b>Cirujano</b> <input type="text" id="inputtext"  pInputText>, con código No.<input type="text" id="inputtext"  pInputText>,he explicado en lenguaje
                    común al paciente y/o representante , las condiciones de enfermedad y la necesidad de realizar los procedimientos de diagnóstico y/o de tratamiento,asi como posibles riesgos y complicaciones asociados a los mismos.
                    
                  
                </p-card>
                    <p-button type="submit" icon="pi pi-check" label="Imprimir" (click)=" convetToPDF1()" styleClass="p-button-text"></p-button>
                
            </div>
        
    </div>
</div>