<app-header></app-header>
<div class="container mt-4">
    <p-card header="Proveedor" subheader="Nuevo proveedor" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <div class="p-fluit">
            <form novalidate #f="ngForm">
                <div class="p-fluit">
                    <label for="nombreP">Nombre</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="p-fluit row mt-4 container">
                    <p-button label="Guardar" icon="pi pi-check" styleClass="p-button-success" [disabled]="!f.valid" type="submit" (click)="onCreate()"></p-button>
                    <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-danger" [style]="{'margin-left': '.5em'}" type="submit" routerLink="/lista-proveedor"></p-button>
                </div>
            </form>
        </div>
        <br>

    </p-card>
</div>
