<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h2>RECORD OPERATORIO PROTOCOLO POSQUIRURGICO </h2>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class=" field col-12 md:col-2">
                <button type="button" pButton pRipple label="LISTADO PROTOCOLO" (click)="listDialog = true;"></button>
        </div>
        <div class="field col-12 md:col-2">
            <button type="button" pButton pRipple label="LIMPIAR" (click)="limpiar()"></button>
        </div>
        </div>
        
        <div class="mt-4">
            <div class="grid p-fluid">

                <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText [(ngModel)]="buscarcedula" ngModel required="">
                        <label for="inputtext">Cedula</label>
                    </span>

                </div>
                <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText [(ngModel)]="buscarnombre" ngModel required="">
                        <label for="inputtext">Nombres</label>
                    </span>
                </div>
                <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText [(ngModel)]="proto.servicio" ngModel required="">
                        <label for="inputtext">Servicio</label>
                    </span>

                </div>
                <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText [(ngModel)]="proto.sala" ngModel required=""
                            (keypress)="validarLetras($event)">
                        <label for="inputtext">Sala</label>
                    </span>
                </div>
                <div class="field col-12 md:col-2">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText [(ngModel)]="proto.nCama" ngModel required=""
                            (keypress)="validarNumero($event)">
                        <label for="inputtext">Cama N° </label>

                    </span>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton type="button" label="Buscar" (click)="buscarPersona();"></button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="p-fluid">
                                <p-card header="DIAGNOSTICO" [style]="{width: '360px'}" styleClass="p-card-shadow">
                                    <ng-template pTemplate="header">
                                    </ng-template>
                                    <div class="grid p-fluid">
                                        <div class="form-group mt-2">
                                            <label for="float-input">Preoperatorio</label>
                                            <textarea rows="5" cols="30" pInputTextarea
                                                [(ngModel)]="proto.preoperatorio" ngModel required=""
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Postoperatorio</label>
                                            <textarea rows="5" cols="30" pInputTextarea
                                                [(ngModel)]="proto.postoperatorio" ngModel required=""
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                    </div>
                                    <h3>OPERACION</h3>
                                    <div class="grid p-fluid">
                                        <div class="form-group mt-2">
                                            <label for="float-input">Tipo de Cirujia</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="proto.tipoCirujia"
                                                ngModel required="" (keypress)="validarLetras($event)"> </textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Realizada</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="proto.realizada"
                                                ngModel required="" (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                    </div>
                                </p-card>
                            </div>
                            <br>
                            <p-card [style]="{width: '360px'}" styleClass="p-card-shadow">
                                <ng-template pTemplate="header">
                                </ng-template>
                                <div class="grid p-fluid">
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Redactada por:</label>
                                            <input type="text" pInputText placeholder="Redactada"
                                                [(ngModel)]="proto.redactado" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Fecha de Dictado</label>
                                            <input type="datetime-local" pInputText placeholder=""
                                                [(ngModel)]="proto.fecha" ngModel required="">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Escrita por:</label>
                                            <input type="text" pInputText placeholder="Escrita"
                                                [(ngModel)]="proto.escrita" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                </div>

                            </p-card>

                        </div>
                        <div class="col-4">
                            <div class="p-fluid">
                                <p-card header="EQUIPO OPERATORIO" [style]="{width: '360px'}"
                                    styleClass="p-card-shadow">
                                    <ng-template pTemplate="header">
                                    </ng-template>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Cirujano</label>
                                            <input type="text" pInputText placeholder="Cirujano"
                                                [(ngModel)]="equi.cirujano" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Primer ayudante</label>
                                            <input type="text" pInputText placeholder="Primer ayudante"
                                                [(ngModel)]="equi.primerAyudante" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Segundo ayudante</label>
                                            <input type="text" pInputText placeholder="Segundo ayudante"
                                                [(ngModel)]="equi.segundoAyudante" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Tercer ayudante</label>
                                            <input type="text" pInputText placeholder="Tercer ayudante"
                                                [(ngModel)]="equi. tercerAyudante" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="float-input">Instrumentista</label>
                                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="equi.instrumentista"
                                            (keypress)="validarLetras($event)"></textarea>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="float-input">Anestesiologo</label>
                                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="equi.anestesiologo"
                                            (keypress)="validarLetras($event)"></textarea>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Fecha de operacion</label>
                                            <input type="date" pInputText placeholder="Fecha de operacion"
                                                [(ngModel)]="equi.fecha">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Hora de inicio</label>
                                            <input type="time" pInputText placeholder="" [(ngModel)]="equi.horaInicio"
                                                ngModel required="">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Hora de terminacion</label>
                                            <input type="time" pInputText placeholder="" [(ngModel)]="equi.horaFin"
                                                ngModel required="">
                                        </span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <span class="p-input-icon-left">
                                            <label for="requisitos ">Tipo de anestesia</label>
                                            <input type="text" pInputText placeholder="Tipo de anestesia"
                                                [(ngModel)]="equi.tipoAnestesia" ngModel required=""
                                                (keypress)="validarLetras($event)">
                                        </span>
                                    </div>
                                </p-card>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="p-fluid">
                                <p-card header="TIEMPOS QUIRÚRGICOS" [style]="{width: '360px'}"
                                    styleClass="p-card-shadow">
                                    <ng-template pTemplate="header">
                                    </ng-template>
                                    <div class="grid p-fluid">
                                        <div class="form-group mt-2">
                                            <label for="float-input">Diéresis</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tipo.dieresis"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Exposición</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tipo.exposicion"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Exploración y hallazgos quirúrgicos</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tipo.exploracion"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Procedimiento operatorio</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tipo.procedimiento"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Sintesis</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tipo.sintesis"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-gr     oup mt-2">
                                            <label for="float-input">Complicaciones del acto operatorio</label>
                                            <textarea rows="5" cols="30" pInputTextarea
                                                [(ngModel)]="tipo.complicaciones"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="float-input">Examen Hisopatológico</label>
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="tipo.examen"
                                                (keypress)="validarLetras($event)"></textarea>
                                        </div>
                                    </div>
                                </p-card>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <p-card>
                        <div class="col-12">
                            <p-button type="submit" icon="pi pi-check" label="Guardar" (click)="cargarPersona()"
                                styleClass="p-button-text">
                            </p-button>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
    <p-sidebar [(visible)]="listDialog" position="right" [baseZIndex]="10000" [style]="{width:'50em'}" [modal]="false">
        <div class="col-12 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <p-table #dt [value]="Protocolos" [lazy]="true" (onLazyLoad)="cargarProtocolo($event)"
                    selectionMode="single" [loading]="loading" responsiveLayout="scroll" [resizableColumns]="true"
                    styleClass="p-datatable-gridlines p-datatable-sm"
                    [globalFilterFields]="['nombres','historia_clinica', 'identificacion']"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true"
                    [rows]="10">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="Clear" class="p-button-rounded" icon="pi pi-filter-slash"
                                (click)="clear(dt)"></button>

                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" autocomplete="off"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="BUSCAR" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn style="width:110px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    IDENTIFICACIÓN
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    NOMBRES
                                </div>
                            </th>
                            <th pResizableColumn style="width:30px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    #HC
                                </div>
                            </th>
                            <th pResizableColumn style="width:100px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    FECHA
                                </div>
                            </th>

                            <th pResizableColumn style="width:50px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    PRINT
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-proto>
                        <tr>
                            <td style="text-align:center">{{proto.usuario.identificacion}}</td>
                            <td style="text-align:center">{{proto.usuario.nombres}}</td>
                            <td style="text-align:center">{{proto.numCl}}</td>
                            <td style="text-align:center"> {{proto.fecha}}</td>
                            <td style="text-align:center">
                                <button pButton pRipple type="button" icon="pi pi-print"
                                    (click)="imprimirPDFSinceButton(proto.idProtocolo)"
                                    class="p-button-rounded p-button-text">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">Ningun registro.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </p-sidebar>


</div>
<ng-template #messageletras let-error="error">
    <!--{{error | json}}-->
    <div *ngIf="error?.pattern?.requiredPattern">
        <b>Error: </b><i> Solo debe ingresar letras</i>
    </div>
</ng-template>