<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Odontologia</h1>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <div class="mt-4">
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" [(ngModel)]="establecimiento" value={{establecimiento}}
                                pInputText>
                            <label for="inputtext">Establecimiento</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Cedula</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Nombres</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Sexo</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Edad</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">N° Historia Clinica</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>1.Motivo de Consulta</b>
            </div>
        </p-divider>
        <p-editor [style]="{'height':'120px'}">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
            </ng-template>
        </p-editor>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>2.Enfermedad o Problema Actual</b>
            </div>
        </p-divider>
        <p-editor [style]="{'height':'120px'}">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
            </ng-template>
        </p-editor>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>3.Antecedentes Personales y Familiares</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">ALERGIA ANTISIOTICO</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">ALERGIA ANESTESIA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">HEMO RRAGIAS</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">VIH/SIDA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">TUBERCULOSIS</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">ASMA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">DIABETES</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">ENF.CARDIACA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">OTRO</label>
                </div>
            </div>
            <div class="col-12 mt-3 md:col-12">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="familiares" pInputText
                        maxlength="500">
                    <label class="p-inputtext-sm" for="inputtext"></label>
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>4.Signos Vitales</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="PRESION" pInputText
                        pKeyFilter="num">
                    <label class="p-inputtext-sm" for="inputtext">PRESION ARTERIAL</label>
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="temperatura" pInputText
                        pKeyFilter="num">
                    <label class="p-inputtext-sm" for="inputtext">FRECUENCIA CARDIACA min</label>
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="temperatura" pInputText
                        pKeyFilter="num">
                    <label class="p-inputtext-sm" for="inputtext">TEMPERATURA °C</label>
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="temperatura" pInputText
                        pKeyFilter="num">
                    <label class="p-inputtext-sm" for="inputtext">F.RESPIRATORIA min</label>
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>5.Examen del sistema estomatognatico</b>
            </div>
        </p-divider>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">LABIO</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">MEJILLA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">MAXILAR SUPERIOR</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">MAXILAR INFERIOR</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">LENGUA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">PALADAR</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">PISO</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">CARRILLOS</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">GLANDULAS SALIBALES</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">ORO FARINGE</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">A.T.M.</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">GLANGLIOS</label>
                </div>
            </div>
            <div class="col-12 mt-3 md:col-12">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="familiares" pInputText
                        maxlength="500">
                    <label class="p-inputtext-sm" for="inputtext"></label>
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>6.Odontograma</b>
            </div>
        </p-divider>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>7.Indicadores de salud bucal</b>
            </div>
        </p-divider>
        <p-fieldset legend="Higuiene oral simplificada">

            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <label for="re">Piezas Dentales</label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re"></label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re"></label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re">Placa 0-1-2-3</label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re">Calculo 0-1-2-3</label>

                </div>
                <div class="col-12 md:col-2">
                    <label for="re">Gingivitis 0-1-2-3</label>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">16</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">17</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">55</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">11</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">21</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">51</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">26</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">27</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">65</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">36</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">37</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">75</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">31</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">41</label>
                    </div>
                </div>

                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">71</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">46</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">47</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">85</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <label for="re"></label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re">Totales</label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re"></label>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
                <div class="col-12 md:col-2">
                    <span class="p-input-icon-left">
                        <input type="number" pInputText placeholder="">
                    </span>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="">
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <label for="re">Enfermedad Periodontal</label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re">Mal Oclusion</label>
                </div>
                <div class="col-12 md:col-2">
                    <label for="re">Fluorosis</label>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Leve</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Angle I</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Leve</label>
                    </div>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Moderada</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Angle II</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Moderada</label>
                    </div>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Severa</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Angle III</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-checkbox">
                        <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                        <label for="ch">Severa</label>
                    </div>
                </div>
            </div>
        </p-fieldset>



        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>8.Indices CPO-ceo</b>
            </div>
        </p-divider>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">D</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">C</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-center">
                    <label for="requisitos ">P</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-center">
                    <label for="requisitos ">O</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">TOTAL</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">d</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">c</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-center">
                    <label for="requisitos ">p</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-center">
                    <label for="requisitos ">o</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">TOTAL</label>
                    <input type="number" pInputText placeholder="">
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>9.Simbologia del odontograma</b>
            </div>
        </p-divider>
        <div class="grid p-fluid">
            <div class="container mt-2" style="text-align: center;">
                <img src="../../../../assets/SIMBOLOGIA.jpg" class="img-thumbnail" width="600" height="400">
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>10.Planes de doaginostico terapeutico y educacional</b>
            </div>
        </p-divider>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">BIOMETRICA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">QUIMICA SANGUINEA</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">RAYOS-X</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">OTROS</label>
                </div>
            </div>
            <div class="col-12 mt-3 md:col-12">
                <span class="p-float-label">
                    <input class="p-inputtext-sm" autocomplete="off" type="text" id="familiares" pInputText
                        maxlength="500">
                    <label class="p-inputtext-sm" for="inputtext"></label>
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>11.Diagnostico PRE=PRESUNTIVO DEF=DEFINITIVO</b>
            </div>
        </p-divider>

        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <span class="p-input-icon-left">
                    <label for="requisitos "></label>
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <label for="requisitos ">CIE</label>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">PRE</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">DEF</label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <span class="p-input-icon-left">
                    <label for="requisitos "></label>
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <label for="requisitos ">CIE</label>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">PRE</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">DEF</label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <span class="p-input-icon-left">
                    <label for="requisitos "></label>
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <label for="requisitos ">CIE</label>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">PRE</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">DEF</label>
                </div>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <span class="p-input-icon-left">
                    <label for="requisitos "></label>
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <label for="requisitos ">CIE</label>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <input type="text" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">PRE</label>
                </div>
            </div>
            <div class="col-12 md:col-2">
                <div class="field-checkbox">
                    <p-checkbox name="group1" [binary]="true" inputId="ch"></p-checkbox>
                    <label for="ch">DEF</label>
                </div>
            </div>
        </div>

        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Fecha de apertura</label>
                    <input type="date" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Fecha de control</label>
                    <input type="date" pInputText placeholder="">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Profesional</label>
                    <input type="text" pInputText placeholder="profesional">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Codigo</label>
                    <input type="number" pInputText placeholder="codigo">
                </span>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>12.Tratamiento</b>
            </div>
        </p-divider>
        <div class="grid p-fluid">
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Sesion</label>
                    <input type="number" pInputText placeholder="Sesion">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Fecha</label>
                    <input type="date" pInputText placeholder="Fecha">
                </span>
            </div>
            <div class="col-12 md:col-2">
                <span class="p-input-icon-left">
                    <label for="requisitos ">Codigo</label>
                    <input type="text" pInputText placeholder="codigo">
                </span>
            </div>
        </div>
        <div class="grid p-fluid">

            <div class="col-12 md:col-2">
                <label for="float-input">Diagnosticos y complicaciones</label>
                <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>

            <div class="col-12 md:col-4">
                <label for="float-input">Procedimientos</label>
                <textarea rows="5" cols="30" pInputTextarea></textarea>
            </div>
            <div class="col-12 md:col-2">
                <label for="float-input">Prescripciones</label>
                <textarea rows="5" cols="30" pInputTextarea></textarea>

            </div>
        </div>


    </div>