<app-header></app-header>
<div class="container mt-4">
    <p-card header="Sistema de solicitudes." subheader="Sistema de gestion de solicitudes, para el proceso del Examen Complexivo o Tesis" [style]="{width: '100%'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <h1 *ngIf="!nombreUsuario" class="display-4">Bienvenido!</h1>
            <h1 *ngIf="nombreUsuario" class="display-4">Bienvenido, {{nombreUsuario}}</h1>
        </ng-template>
        <ng-template pTemplate="footer">
            <div align="right" *ngIf="!isLogged">
                <p-button label="Iniciar Session" icon="pi pi-user" styleClass="p-button-warning" [style]="{'margin-left': '.5em'}" routerLink='/login'></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div *ngIf="isLogged">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-book p-mr-2"></i>
                        <b>-Trabajo de integracion curricular.</b>
                        <p class="mt-3">
                            Consiste en una propuesta de caracter teorico, investigativo, metodologico o experimental, mediante la cual el estudiante demuestra el conocimiento, manejo y aplicacion de los saberes teoricos, procedimentales e instrumentales, asi como las destresas,
                            habilidades y competencias profecionales, adquiridos durante el proceso de formacion. El trabajo de integracion curricular debera desarrollarce mediante el abordaje de tematicas pertenientes y relevantes en relacion con los
                            contenidos curriculares, el perfil de egreso de la carrera y la nesecidades del entorno cientifico, tecnologico y social.
                        </p>
                        <div class="mt-3" align="right">
                            <p-button label="Seleccionar" icon="pi pi-arrow-right" styleClass="p-button-success" [style]="{'margin-left': '.5em'}" routerLink='/login'></p-button>
                        </div>
                    </div>
                </p-divider>
                <p-divider align="left" class="mt-3">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-pencil p-mr-2"></i>
                        <b>-Examen complexivo.</b>
                        <p class="mt-3">
                            Es una evaluación teórica- práctica a través de la cual el estudiante debe demostrar el manejo integral de los conocimientos adquiridos durante su formación, así como el desarrollo de las competencias necesarias para la resolución de problemas, haciendo
                            uso creativo y crítico del conocimiento. El examen deberá guardar correspondencia con los resultados de aprendizaje definidos en el perfil de egreso de los estudiantes; consistirá en el desarrollo de casos o problemas básicos
                            de la profesión, definidos con base en la identificación de los núcleos o campos de estudio fundamentales de aquella y de los principales ejes, dilemas y tensiones que deberán afrontar los estudiantes en el mundo laboral, y
                            que constituyen la base para la determinación del perfil de egreso. En ningún caso el examen constituirá una medición del nivel de memorización del estudiante.
                        </p>
                    </div>
                    <div class="mt-3" align="right">
                        <p-button label="Seleccionar" icon="pi pi-arrow-right" styleClass="p-button-success" [style]="{'margin-left': '.5em'}" routerLink='/login'></p-button>
                    </div>
                </p-divider>
            </div>
        </ng-template>
    </p-card>
</div>