<app-header></app-header>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h5>Consentimiento Informado</h5>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <div class="mt-4">
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Cedula</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Nombres</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Servicio</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Sala</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Cama</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="date" id="inputtext" pInputText>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="time" id="inputtext" pInputText>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <button pButton type="button" label="Buscar"></button>
                    </div>
                </div>
                <!---------------------------------------------------------------------------->
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <b>1.Informacion entregada por el profesional tratante sobre el tratamiento</b>
                    </div>
                </p-divider>
                <br>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Propositos</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Terapia y procedimientos propuestos</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Resultados esperados</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Riesgos de complicaciones clinicas</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Nombre del profesional tratante</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Especialidad</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Telefono</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Codigo</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <textarea rows="2" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma</label>
                        </span>
                    </div>
                </div>
                <!---------------------------------------------------------------------------->
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <b>2.Informacion entregada por el cirujano sobre la intervencion quirúrgica</b>
                    </div>
                </p-divider>
                <br>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Propositos</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Intervenciones quirúrgicas propuestas</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Resultados esperados</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Riesgos de complicaciones quirúrgicas</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Nombre del cirujano</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Especialidad</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Telefono</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Codigo</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <textarea rows="2" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma</label>
                        </span>
                    </div>
                </div>
                <!---------------------------------------------------------------------------->
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <b>3.Informacion entregada por el anestesiologo sobre la anestesia</b>
                    </div>
                </p-divider>
                <br>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Propositos</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Anestesia propuesta</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Resultados esperados</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Riesgos de complicaciones anestésicas</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Nombre del cirujano</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Especialidad</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Telefono</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Codigo</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <textarea rows="2" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma del paciente</label>
                        </span>
                    </div>
                </div>
                <!---------------------------------------------------------------------------->
                <p-divider align="left">
                    <div class="inline-flex align-items-center">
                        <i class="pi pi-user mr-2"></i>
                        <b>4.Consentimiento informado del paciente</b>
                    </div>
                </p-divider>

                <div class="grid p-fluid">
                    <div class="field col-12 md:col-8">
                        <b>A. El profesional tratante me ha informado satisfactoriamente acerca de los motivos y
                            propositos del tratamiento planificado para mi enfermedad</b>
                        <p>B. El profesional tratante ha explicado adecuadamente las actividades ensenciales que se
                            realizaran durante el tratamiento de mi enfermedad</p>
                    </div>

                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <textarea rows="4" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-8">
                        <p>C. Conciento a que se realicen las intervenciones quirúrgicas
                            procedimientos diagnosticos y tratamientos necesarios para mi enfermedad</p>
                        <p>D. Conciento a que me administren la anastecia propuesta</p>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <textarea rows="4" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma del paciente</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-8">
                        <p>E. He entendido bien que existe garantia de la calidad de los medio utilizados para el
                            tratamiento pero no acerca de los resultados</p>
                        <p>F. He comprendido plenamente los beneficios y los riesgos de complicaciones derivadas del
                            tratamiento</p>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <textarea rows="4" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma del paciente</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-8">
                        <p>G. El profesional tratante me ha informado que existe garantia de respeto a mi identidad,a
                            mis creencias religiosas y a la confidencialidad de la informacion (inclusive en el caso de
                            VIH-SIDA)</p>
                        <p>H. He comprendido que tengo el derecho de anular este consentimiento informado en el meomento
                            que yo lo considere necesario</p>
                        <p>I. Declaro que me he entregado al profesional tratante informacion completa y fidedigna sobre los antecedentes personales y familiares de mi estado de salud.Estoy
                            conciente de que mis omisiones o distorsiones deliberadas de los hechos pueden afectar los resultados del tratamiento
                        </p>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-float-label">
                            <textarea rows="6" cols="50" pInputTextarea></textarea>
                            <label for="inputtext">Firma del paciente</label>
                        </span>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div>