<app-header></app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Historia clinica</h1>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <p-scrollPanel [style]="{width: '100%', height: '700px'}">
                <div class="mt-4">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="buscarcedula">
                                <label for="inputtext">Cedula</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <button pButton type="button" label="Buscar" (click)="buscarPersona();"></button>
                        </div>

                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [(ngModel)]="buscarnombre">
                            <label for="inputtext">Nombre</label>
                        </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                            <input type="date" id="inputtext" pInputText [(ngModel)]="historia.fecha">
                            <label for="inputtext"></label>
                        </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText [(ngModel)]="historia.numCl">
                            <label for="inputtext">Número HC</label>
                        </span>
                        </div>
                        <div class="col-12 md:col-4">
                            <div class="p-inputgroup">
                                <button type="button" pButton pRipple label="LISTADO HISTORIAS CLINICAS" (click)="listDialog = true;"></button>
                            </div>
                        </div>
                    </div>


                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Edad:</label>
                                        <input type="text" pInputText placeholder="Edad" [(ngModel)]="historia.edad">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Procedencia:</label>
                                        <input type="text" pInputText placeholder="Procedencia"
                                            [(ngModel)]="historia.procedencia">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Residencia:</label>
                                        <input type="text" pInputText placeholder="Residencia"
                                            [(ngModel)]="historia.residencia">
                                    </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Estado Civil:</label>
                                        <input type="text" pInputText placeholder="Estado Civil"
                                            [(ngModel)]="historia.estadoCivil">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Religión:</label>
                                        <input type="text" pInputText placeholder="Religiòn"
                                            [(ngModel)]="historia.religion">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Motivio de consulta:</label>
                                        <input type="text" pInputText placeholder="Motivo de consulta"
                                            [(ngModel)]="historia.motivo">
                                    </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Enfermedad Actual:</label>
                                        <input type="text" pInputText placeholder="Enfermedad Actual"
                                            [(ngModel)]="historia.enfermedad">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Alergias:</label>
                                        <input type="text" pInputText placeholder="alergias"
                                            [(ngModel)]="historia.alergia">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">APP:</label>
                                        <input type="text" pInputText placeholder="APP" [(ngModel)]="historia.app">
                                    </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">APF:</label>
                                        <input type="text" pInputText placeholder="APF" [(ngModel)]="historia.apf">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Tipo de sangre:</label>
                                        <input type="text" pInputText placeholder="tipo sangre"
                                            [(ngModel)]="historia.tipoSangre">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Habitos:</label>
                                        <input type="text" pInputText placeholder="Habitos"
                                            [(ngModel)]="historia.habitos">
                                    </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos "> Signos Vitales:</label>
                                    </span>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                            <input type="text" id="inputtext" pInputText [(ngModel)]="historia.ta">
                                            <label for="inputtext">TA</label>
                                        </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                            <input type="text" id="inputtext" pInputText [(ngModel)]="historia.fc">
                                            <label for="inputtext">FC</label>
                                        </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                            <input type="text" id="inputtext" pInputText [(ngModel)]="historia.spo2">
                                            <label for="inputtext">SPO2</label>
                                        </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                            <input type="text" id="inputtext" pInputText [(ngModel)]="historia.fr">
                                            <label for="inputtext">FR</label>
                                        </span>
                            </div>
                            <div class="field col-12 md:col-4">
                                <span class="p-float-label">
                                            <input type="text" id="inputtext" pInputText [(ngModel)]="historia.tem">
                                            <label for="inputtext">Tº</label>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <label for="float-input">Examen Fisico</label>
                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="historia.examen"></textarea>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">DX:</label>
                                        <input type="text" pInputText placeholder="DX" [(ngModel)]="historia.dx">
                                    </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <span class="p-input-icon-left">
                                        <label for="requisitos ">Realizado por:</label>
                                        <input type="text" pInputText placeholder="Realizado por"
                                            [(ngModel)]="historia.realizado">
                                    </span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <span class="p-input-icon-left">
                                        <label for="requisitos "> DR:</label>
                                        <input type="text" pInputText placeholder="DR:" [(ngModel)]="historia.dr">
                                    </span>
                    </div>
                    <div class="row">
                        <p-card>
                            <div class="col-1">
                                <p-button type="submit" icon="pi pi-check" label="Guardar" (click)="guardarTodo()" styleClass="p-button-text">
                                </p-button>
                            </div>
                        </p-card>
                    </div>

                </div>
            </p-scrollPanel>
        </div>
    </div>

    <p-sidebar [(visible)]="listDialog" position="right" [baseZIndex]="10000" [style]="{width:'50em'}" [modal]="false">
        <div class="col-12 flex align-items-center justify-content-center">
            <div class="p-fluid">
                <p-table #dt [value]="historias" [lazy]="true" (onLazyLoad)="CargarHistoria($event)" selectionMode="single" [loading]="loading" responsiveLayout="scroll" [resizableColumns]="true" styleClass="p-datatable-gridlines p-datatable-sm" [globalFilterFields]="['nombres','historia_clinica', 'identificacion']"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <button pButton label="Clear" class="p-button-rounded" icon="pi pi-filter-slash" (click)="clear(dt)"></button>

                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" autocomplete="off"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="BUSCAR" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pResizableColumn style="width:110px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    IDENTIFICACIÓN
                                </div>
                            </th>
                            <th pResizableColumn>
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    NOMBRES
                                </div>
                            </th>
                            <th pResizableColumn style="width:30px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    #HC
                                </div>
                            </th>
                            <th pResizableColumn style="width:100px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    FECHA
                                </div>
                            </th>

                            <th pResizableColumn style="width:50px">
                                <div class="flex justify-content-center align-items-center letrasPequeñasNegrita">
                                    PRINT
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-historia>
                        <tr>
                            <td style="text-align:center">{{historia.usuario.identificacion}}</td>
                            <td style="text-align:center">{{historia.usuario.nombres}}</td>
                            <td style="text-align:center">{{historia.numCl}}</td>
                            <td style="text-align:center"> {{historia.fecha}}</td>
                            <td style="text-align:center">
                                <button pButton pRipple type="button" icon="pi pi-print" (click)="imprimirPDFSinceButton(historia.idHistoria)" class="p-button-rounded p-button-text">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">Ningun registro.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </p-sidebar>