<app-header></app-header>
<img src="../../../../assets/fondo.png"
class="img-fluid" style="position: absolute; right: 10; top: 0; z-index: -100; opacity: 0.60;">
<div class="container mt-4">
    <p-card header="Al centro de especialidades Medivalle." subheader="Sistema para el uso de los centros medicos" [style]="{width: '100%'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <h1 *ngIf="!nombreUsuario" class="display-4">Bienvenido!</h1>
            <h1 *ngIf="nombreUsuario" class="display-4">Bienvenido, {{nombreUsuario}}</h1>
        </ng-template>
        <ng-template pTemplate="footer">
            <div *ngIf="!isLogged">
                <p-carousel [value]="opciones" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
                    <ng-template pTemplate="header">

                    </ng-template>
                    <ng-template let-opc pTemplate="item">
                        <div class="product-item">
                            <div class="product-item-content">
                                <div class="p-mb-3">
                                    <img src="{{opc.imagen}}" [alt]="" class="product-image" />
                                </div>
                                <div>
                                    <h4 class="p-mb-1">{{opc.descripcion}}</h4>
                                    <div class="car-buttons p-mt-5">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
                <div align="center" *ngIf="!isLogged">
                    <p-button label="Iniciar Session" icon="pi pi-user" styleClass="p-button-warning" [style]="{'margin-left': '.5em'}" routerLink='/login'></p-button>
                </div>
            </div>
        </ng-template>

    </p-card>
</div>