<app-header></app-header>
<p-toast></p-toast>
<div class="container mt-4">
    <p-toolbar styleClass="p-mb-4">
        <div class="mt-3" *ngIf="isAdmin">
            <button class="btn btn-outline-success btn-lg" routerLink="/nuevo-pro">
            <i class="pi pi-plus"></i> Nuevo Producto</button>
        </div>
    </p-toolbar>
    <p-table #dt [value]="productos" [rows]="10" [paginator]="true" [globalFilterFields]="['nombre','producto.nombre','precio','producto.precio']" [(selection)]="selectedProductos" [rowHover]="true" dataKey="id" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Control de productos.</h5>
                <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Buscar..." />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Detalles</th>
                <th scope="col" *ngIf="isAdmin">Editar</th>
                <th scope="col" *ngIf="isAdmin">Borrar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr>
                <td>{{producto.idProducto}}</td>
                <td>{{producto.nombreProducto}}</td>
                <td>{{producto.precioProducto}}</td>
                <td><button button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary p-mr-2" routerLink='/detalle/{{producto.idProducto}}'></button></td>
                <td *ngIf="isAdmin"><button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" routerLink="/editar/{{producto.idProducto}}"></button></td>
                <td *ngIf="isAdmin"><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="borrar(producto.idProducto)"></button></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{productos ? productos.length : 0 }} productos.
            </div>
        </ng-template>
    </p-table>


</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="producto.nombreProducto" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !producto.nombreProducto">Name is required.</small>
        </div>
        <div class="p-field p-col">
            <label for="price">Precio</label>
            <p-inputNumber id="price" [(ngModel)]="producto.precioProducto" mode="currency" currency="USD" locale="en-US">
            </p-inputNumber>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>