<app-header>
</app-header>
<p-toast></p-toast>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h1>Formulario</h1>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <p-scrollPanel [style]="{width: '100%', height: '700px'}">
                <div class="mt-4">
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" [(ngModel)]="buscarPerIdent"
                                    [(ngModel)]="buscarcedula" pInputText  (keypress)="validarCedula($event)" maxlength="13"
                                    ngModel required="Es requirido">
                                <label for="inputtext">Cedula</label>
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <button pButton type="button" label="Buscar" (click)="buscar()"></button>
                        </div>

                    </div>
                    <p-divider align="left">

                    </p-divider>
                    <div class="grid p-fluid">
                        <div class="col-12 md:col-2">
                            <div class="field-radiobutton">
                                <p-radioButton name="p16" value="X" [(ngModel)]="formula.referencia"
                                    inputId="p1"></p-radioButton>
                                <label for="p1">Referencia</label>
                            </div>
                        </div>
                        <div class="col-12 md:col-2">
                            <div class="field-radiobutton">
                                <p-radioButton name="p17" value="X" [(ngModel)]="formula.derivacion"
                                    inputId="p2"></p-radioButton>
                                <label for="p2">Inversa</label>
                            </div>
                        </div>
                    </div>
                    <p-divider align="left">

                    </p-divider>

                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>Datos</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255" 
                                 [(ngModel)]="buscarnombre"
                                    [(ngModel)]="ObjDatorTarj.nombres">
                                <label for="inputtext">Nombres</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="edad" 
                                ngModel required="" (keypress)="validarNumero($event)" >
                                <label for="inputtext">Edad</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="provi"
                                    [(ngModel)]="ObjDatorTarj.provincia">
                                <label for="inputtext">Provincia</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText  ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="na"
                                    [(ngModel)]="ObjDatorTarj.nacionalidad">
                                <label for="inputtext">Nacionalidad</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                 [(ngModel)]="pais"
                                    [(ngModel)]="ObjDatorTarj.pais">
                                <label for="inputtext">Pais</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="parrio"
                                    [(ngModel)]="ObjDatorTarj.parroquia">
                                <label for="inputtext">Parroquia</label>
                            </span>
                        </div>
                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                 [(ngModel)]="dire"
                                    [(ngModel)]="ObjDatorTarj.direccion">
                                <label for="inputtext">Domicilio</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText  
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="10"
                                [(ngModel)]="tele"
                                    [(ngModel)]="ObjDatorTarj.celular">
                                <label for="inputtext">Numero telefono/celular</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="canton"
                                    [(ngModel)]="ObjDatorTarj.canton">
                                <label for="inputtext">Canton</label>
                            </span>
                        </div>
                    </div>

                    <!-- grupo de 3 para el formulario-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>1. Datos institucionales</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                 ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="datosin.entidad">
                                <label for="inputtext">Entidad del sistema</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarNumero($event)" 
                                [(ngModel)]="numcli">
                                <label for="inputtext">Hist. Clinica N.</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="establecimiento">
                                <label for="inputtext">Establecimiento de salud</label>
                            </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText 
                                ngModel required="" (keypress)="validarLetras($event)" maxlength="255"
                                [(ngModel)]="datosin.tipo">
                                <label for="inputtext">Tipo</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="datosin.districto">
                                <label for="inputtext">Distrito/Area</label>
                            </span>
                        </div>


                    </div>
                    <!-- grupo de 3 para el formulario-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>Refiere o deriva a:</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="refiere.entidadSistema">
                                <label for="inputtext">Entidad del sistema</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="refiere.establecimientoRefer">
                                <label for="inputtext">Establecimiento de salud</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="refiere.servicioReferido">
                                <label for="inputtext">Servicio</label>
                            </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText [(ngModel)]="refiere.especialidadReferido">
                                <label for="inputtext">Especialidad</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="date" id="inputtext" pInputText [(ngModel)]="refiere.fecha">
                                <label for="inputtext">Fecha</label>
                            </span>
                        </div>
                    </div>
                    <!--*****************************************************************************************************************-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>2. Motivos de la referencia o derivacion</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="p16" value="X" [(ngModel)]="datosin.limitada"
                                    inputId="p1"></p-radioButton>
                                <label for="p1">Limitada capacidad resolutiva:</label>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="p16" value="X" [(ngModel)]="datosin.ausencia"
                                    inputId="p1"></p-radioButton>
                                <label for="sf">Ausencia temporal del profesional:</label>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="p16" value="X" [(ngModel)]="datosin.falta"
                                    inputId="p1"></p-radioButton>
                                <label for="la">Falta de profesional:</label>
                            </div>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="p16" value="X" [(ngModel)]="datosin.satu"
                                    inputId="p1"></p-radioButton>
                                <label for="ch">Saturacion de la capacidad instalada:</label>
                            </div>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <div class="field-radiobutton">
                                <p-radioButton name="p16" value="X" [(ngModel)]="datosin.otros"
                                    inputId="p1"></p-radioButton>
                                <label for="ch">Otros</label>
                            </div>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText>
                                <label for="inputtext">Descripcion</label>
                            </span>
                        </div>
                    </div>
                    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>3. Resumen del cuadro clinico</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <textarea id="float-input" rows="5" cols="242" pInputTextarea
                                    [(ngModel)]=" formula.cuadroClinico"></textarea>
                                <label for="float-input"></label>
                            </span>
                        </div>
                    </div>
                    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>4. Hallazgos relevantes del examen y procedimientos diagnosticos.</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <textarea id="float-input" rows="5" cols="242" pInputTextarea
                                    [(ngModel)]=" formula.hallazgos"></textarea>
                                <label for="float-input">Resumen</label>
                            </span>
                        </div>
                    </div>
                    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>4. Diagnostico.</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <textarea id="float-input" rows="5" cols="242" pInputTextarea
                                    [(ngModel)]=" formula.diagnostico"></textarea>
                                <label for="float-input">Resumen</label>
                            </span>
                        </div>
                    </div>
                    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                    <p-divider align="left">
                        <div class="inline-flex align-items-center">
                            <i class="pi pi-user mr-2"></i>
                            <b>4. Datos del profesional.</b>
                        </div>
                    </p-divider>
                    <br>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText>
                                <label for="inputtext">Nombres</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText>
                                <label for="inputtext">Codigo</label>
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText>
                                <label for="inputtext">Contrareferencia</label>
                            </span>
                        </div>
                    </div>
                    <div class="grid p-fluid">
                        <div class="field col-12 md:col-4">
                            <span class="p-float-label">
                                <input type="text" id="inputtext" pInputText>
                                <label for="inputtext">Referenciainversa</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-4">
                    <button pButton type="button" label="Guardar" (click)="guardarTodo()"></button>
                </div>
            </p-scrollPanel>
        </div>
    </div>

</div>