<app-header></app-header>
<div class="animated fadeIn mt-4">
    <div class="p-5 bg-light">
        <div class="d-flex justify-content-between">
            <div class="p-2">
                <h6>Autorización,Exoneración y Retiro</h6>
            </div>
        </div>
        <div class="content-section implementation mt-2">
            <div class="mt-4">
                <div class="grid p-fluid">
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Cedula</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Nombres</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Servicio</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Sala</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" pInputText>
                            <label for="inputtext">Cama</label>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="date" id="inputtext" pInputText>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <span class="p-float-label">
                            <input type="time" id="inputtext" pInputText>
                        </span>
                    </div>
                    <div class="field col-12 md:col-2">
                        <button pButton type="button" label="Buscar"></button>
                    </div>
                </div>
            </div>
        </div>
        <p-divider align="left">
            <div class="inline-flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <b>1.Autorizacion para ciriguia ,tratamiento o clinico o procedimiento diagnostico</b>
            </div>
        </p-divider>
        <br>
        <div class="grid p-fluid">
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText > 
                    <label for="inputtext">Nombre del paciente</label>
                </span>
            </div>

            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText > 
                    <label for="inputtext">Telefono</label>
                </span>
            </div>

            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText > 
                    <label for="inputtext">Cedula</label>
                </span>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-4 md:col-2">
                <span class="p-float-label">
                    <textarea rows="5" cols="30" pInputTextarea></textarea>
                    <label for="inputtext">Firma</label>
                </span>
            </div>

        </div>

    </div>
    
</div>
