<div class="iconos-sociales" align="right">
    <a href="https://www.facebook.com/medivalle01/?locale=es_LA" target="_blank"><img loading="lazy"
            alt="Sígueme en Facebook" height="35" width="35"
            src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png"
            title="Sígueme en Facebook" /></a>

    <a href="https://www.instagram.com/c.e.m.medivalle/" target="_blank"><img loading="lazy"
            alt="Sígueme en Instagram" height="35" width="35"
            src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png"
            title="Sígueme en Instagram" /></a>

    <a href="https://api.whatsapp.com/send?phone=988354106" target="_blank"><img loading="lazy"
            alt="Sígueme en WhatsApp" height="35" width="35"
            src=" https://1.bp.blogspot.com/-Vc_W7xraNnc/YPhkfwQExQI/AAAAAAAAA1c/dI72v37UC0EGJd7jWvKWYD3WMwZ7eER7gCPcBGAYYCw/s0/whatsapp-icono.png"
            title="Sígueme en WhatsApp" /></a>
</div>

<div class="footer-information">
<div class="information">
    <h5>Contactos</h5>
    <div class="phone">
        <i class="fas fa-phone"></i>(07) 248-0085
    </div>
    <div class="phone">
        <i class="fas fa-phone"></i>(+593) 0988354106
    </div>
    <div class="phone">
        <i class="fas fa-envelope"></i>
        <a href="mailto:cem_medivalle@hotmail.com">
            cem_medivalle@hotmail.com</a>
    </div>
    <div class="direc">
        <i class="fas fa-home"></i><p>
            Parroquia El Valle , Cuenca, Ecuador<br></p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.570774114438!2d-78.96760962532473!3d-2.938913597037349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd196e7aa58a4b%3A0x53df1be384a5f21c!2sCentro%20de%20Especialidades%20M%C3%A9dicas%20Medivalle!5e0!3m2!1ses-419!2sec!4v1687830523461!5m2!1ses-419!2sec" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    
   
</div>

</div>

