<div class="iconos-sociales" align="right">
    <a href="https://www.facebook.com/medivalle01/?locale=es_LA" target="_blank"><img loading="lazy"
            alt="Sígueme en Facebook" height="35" width="35"
            src=" https://1.bp.blogspot.com/-Pop-U7OywXs/YPhkfrImyiI/AAAAAAAAA1Y/UBnVfTK9j2U-bIUqwZYMNSQPvz_l06mbwCPcBGAYYCw/s0/facebook-icono.png"
            title="Sígueme en Facebook" /></a>

    <a href="https://www.instagram.com/c.e.m.medivalle/" target="_blank"><img loading="lazy"
            alt="Sígueme en Instagram" height="35" width="35"
            src="https://1.bp.blogspot.com/-VFfOISywV0c/YPhkeRXuRQI/AAAAAAAAA1M/L75S9Usg5AovunH2Y-VzqJbaaY1LuK3eACPcBGAYYCw/s0/Instagram-icono.png"
            title="Sígueme en Instagram" /></a>

    <a href="https://api.whatsapp.com/send?phone=988354106" target="_blank"><img loading="lazy"
            alt="Sígueme en WhatsApp" height="35" width="35"
            src=" https://1.bp.blogspot.com/-Vc_W7xraNnc/YPhkfwQExQI/AAAAAAAAA1c/dI72v37UC0EGJd7jWvKWYD3WMwZ7eER7gCPcBGAYYCw/s0/whatsapp-icono.png"
            title="Sígueme en WhatsApp" /></a>
</div>
<div class="footer-information">
<div class="information">
    <h5>Contactos</h5>
    <div class="phone">
        <i class="fas fa-phone"></i>(07) 248-0085
    </div>
    <div class="phone">
        <i class="fas fa-phone"></i>(+593) 0988354106
    </div>
    <div class="direc">
        <i class="fas fa-home"></i><p>
            Parroquia El Valle , Cuenca, Ecuador<br>
            Cuenca Ecuador</p>
    </div>
    <div class="phone">
        <i class="fas fa-envelope"></i>
        <a href="mailto:cem_medivalle@hotmail.com">
            cem_medivalle@hotmail.com</a>
    </div>
</div>
</div>

